body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* HEADER */
header {
  background: linear-gradient(135deg, #2e7d32, #66bb6a);
  color: white;
  padding: 40px 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 34px;
  letter-spacing: 1px;
}

header p {
  margin-top: 10px;
  font-size: 18px;
}

/* CONTAINER */
.container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  color: #222;
  border-left: 5px solid #2e7d32;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card h2 {
  color: #000;
}

.card p {
  color: #333;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* BOTÃO */
.btn {
  display: inline-block;
  padding: 14px 25px;
  background: linear-gradient(135deg, #25d366, #1ebe5d);
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-size: 16px;
  margin-top: 10px;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

/* GALERIA */
.galeria {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.galeria img,
.galeria video {
  width: 200px;
  border-radius: 10px;
  transition: 0.3s;
}

.galeria img:hover,
.galeria video:hover {
  transform: scale(1.05);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #2e7d32;
  color: white;
  margin-top: 30px;
}
/* MODAL (tela cheia) */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}

/* IMAGEM EM 16:9 */
.modal img {
  display: block;
  margin: auto;
  width: 90%;
  max-width: 800px;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
}

/* BOTÃO FECHAR */
.fechar {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}